{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  
<div>
	<nav class="relative px-4 py-4 flex items-center ">
		
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2  lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
			<li class="text-gray-300">
				|
			<li><a class="text-sm text-emerald-600 font-bold">Home</a></li>
			<li class="text-gray-300">
				|
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="{{ path('app_teacher') }}">Teachers</a></li>
			<li class="text-gray-300">
				|
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="{{ path('app_student') }}">Students</a></li>
			<li class="text-gray-300">
				|
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="#"></a></li>
		</ul>
		
		<a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 text-sm text-gray-400 hover:text-red-500" href="{{ path('app_logout') }}"><strong>{{ app.user.username }}</strong> | Logout</a>
		
	</nav>
	<div class="py-3">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-6">
            <div class="bg-slate-400 overflow-hidden shadow-xl sm:rounded-lg">
                <div class="p-6 sm:px-20 bg-gray-100  border border-gray-300 ">
				 <div class="max-w-7xl w-full mx-auto py-6 sm:px-6 lg:px-34 ">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
